
.heading-title{
    font-family: "Fira Sans", serif;
    font-weight: 700;
    font-style: normal;
  }

nav{
    display: flex;
    align-items:center;
    justify-content: space-between;
    margin: 0 60px;
}
body{
    background-color: #F1F1F3;
}
.btn-primary{
    border-color: #006A50;
    border-radius: 4px;
    color: #006A50;
    font-family: "Fira Sans", serif;
    font-weight: 600;
    font-style: normal;
    border-style: solid;
    padding: 10px 24px;
      }
.banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin:0 60px;
    background-color:#C6E4D6 ;
    border-radius: 24px;
}
.heading-title{
    font-size: 32px;
}
.banner-title{
    margin-bottom: 0;
    font-size: 24px;
    color: #0E0E0E;
    opacity: .5;
}
.banner-description{
    font-size: 56px;
    margin-top: 10px;
    font-weight: bold;
}
.banner-content{
    width: 600px;
    margin-left: 60px;
    margin-top:117px ;
    margin-bottom: 117px;

}

 .banner-profile-pic{
    width:475px;
    height:400px;
    margin-top: 80px;
    margin-right: 60px;
 }     

 .btn-banner{
    width:270px;
    height:56px;
    font-size: 18px ;
    font-style: bold;
    font-weight: 500;
    border-radius: 8px;
    font-style: normal;
    background-color: #006A50;
    color:#FFFFFF;
    border:none;
 }
 .bottom-part{
   
    height:4541px;
    margin: 0 60px;
 }
 .pillars{
   
    margin-top: 80px;
 }
 .pillar-part-top{
  margin-top: 80px;
  margin-bottom: 32px;
 }

.pillars-title{
    font-size: 40px;
}
 
 .pillar-part{
    font-family: "Fira Sans";
    display: flex;
    justify-content:space-between;
    gap: 24px;
    margin-bottom: 32px;
    
    
 }

 .pillar-part-1{
    width:302px;
    background-color:#FFFFFF ;
    padding:24px;
    border-radius: 16px;
    
    
 }
 .pillar-part-title{
    color:#0E0E0E;
    font-size: 20px;
    opacity: .8;
}
.pillar-part-description{
    font-size: 16px;
font-weight: 400;
    opacity: .7;
    margin: 0;
}

.btn-vision-1, .btn-vision-2, .btn-vision-3{

font-style: normal;
width:fit-content;
height: 41px;
background-color: #5490F5;
margin-top: 24px;

}
.vision-part-1, .vision-part-2, .vision-part-3{
    
    padding-bottom: 32px;
    width: 410px;
}
.vision-title{
margin-top: 24px;
margin-bottom: 12px;
}
.vision-part-1{
    background-color: rgba(84, 144, 245, .2); ;
    border: #5490F5 ;
}
.vision-part-2{
    background-color: #C6E4D6 ;
    border: #5490F5 ;
}
.vision-part-3{
    background-color: #F7EBCF ;
    border: #5490F5 ;
}

.btn-vision-2{
    background-color: #09A15C;
    margin-top: 24px;

} 
.btn-vision-3{
    background-color: #FFC239;
    margin-top: 24px;
}